
body {
background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
min-height: 100vh;
}
.user{
  color: #fff;
  font-size: 45px;
  margin: 50px;
  font-family: 'Playfair Display', serif;
  src : url('https://fonts.googleapis.com/css?family=Playfair+Display')
}
button {
background: rgba(34, 167, 240, 1);
color: #fff;
border: 1px solid #eee;
border-radius: 5px;
padding: 10px;
padding-left: 20px;
padding-right: 20px;
}
